.detailWrapper {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1266px) {
      width: 473px;
    }
  .detailContainer {
    display: flex;
    border-top: 1px solid #0000001a;
    border-bottom: 1px solid #0000001a;
    padding: 24px 16px;
    gap: 24px;
    margin-top: 24px;
    flex-direction: column;
    @media screen and (min-width: 768px) {
      margin: 0px !important;
      padding-bottom: 24px !important;
    }
    @media screen and (min-width: 1266px) {
      border-top: none;
      margin: 0px !important;
      padding-bottom: 24px !important;
      padding:0px 24px 16px 16px;
    }
  }
  .weightWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 12px;
    width:100%;
    padding: 8px 12px;
    height: 40px;
    padding-bottom: 8px !important;
  }

  .customSelect {
    width: 93%;
    text-align: center;
    padding-bottom: 10px !important;
    padding-right: 0px !important;
    :global(.ant-select-arrow) {
      padding-bottom: 8px !important;
    }
  }

  .gramLabel {
    position: absolute;
    left: 38%;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 1.2rem;
  }
  .descraptionContainer {
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
    gap: 24px;
    .descraiptionTitle {
      font-size: 14px;
    }
  }
}
