.categoryContainer {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: auto;
  .title {
    padding-right: 16px;
    padding: 16px;
    border-top: 1px solid #0000001a;
    width: 90%;
    margin: 30px auto;
    padding-top: 50px;
    @media screen and (min-width: 1266px) {
      text-align: center;
      width: 1064px;
    }
  }
  .itemContainer {
    margin: auto;
    @media screen and (min-width: 768px) {
      width: 800px;
    }
    @media screen and (min-width: 1266px) {
      width: 1000px;
    }
    .categoryItem {
      width: 160px;
      border: 1px solid #0000001a;
      border-radius: 12px;
      cursor: pointer;
      .categoryImage {
        max-width: 100px;
        max-height: 90px;
      }
      .categoryTitle {
        font-size: 12px;
        font-weight: 700;
        padding-bottom: 16px;
      }
    }
  }
}
