.overlay {
  position: fixed;
  bottom: 0;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  .title {
    font-size: 1.6rem;
  }
  .inputDescription {
    font-size: 1rem;
  }
  .inputContainer {
    border: 1px solid #999999;
    border-radius: 12px;
    padding: 0px 8px;
    .numberLabel {
      font-size: 10px;
    }
    .input {
      padding: 0 !important;
    }
  }
  .otp {
    padding: 13px !important;
    width: 73px;
    height: 73px;
    border: 1px solid #999999;
    border-radius: 19px;
  }
  .arrow {
    rotate: 180deg !important;
  }
  .button {
    width: 100%;
    background-color: #715a41 !important;
    padding: 8px;
    border-radius: 12px;
    height: 48px;
    color: white !important;
  }
}

.modalContent {
  background-color: white;
  width: 360px;
  height: 380px;
  padding: 16px;
  position: absolute;
  bottom: 0;
  z-index: 1000000000;
  @media screen and (min-width: 361px) {
    border-radius: 12px;
    margin: auto;
    bottom: auto;
  }
}
.otpInputsWrapper {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 12px;
}

.otpInput {
  width: 73px;
  height: 73px;
  font-size: 24px;
  text-align: center;
  border-radius:18.22px;
  border: 1px solid #999999;
  outline: none;
  transition: border 0.2s ease;
}
