    .navContainer{
        border-bottom: 1px solid #0000001A;
        margin:20px  auto ;
        @media screen and (min-width:1266px) {
            width: 95%;
            margin:0px  auto ;
        }
        @media screen and (min-width:1440px) {
            width: 90%;
            margin:0px  auto ;
        }
    }
    .navHeader{
        height: 64px;
        padding: 16px;
    }
    .navLinkContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #0000001A;
        padding:16px;
    }
    .navLink{
        cursor: pointer;
        font-size: 1.4rem;
    }