.overlay {
  position: fixed;
  bottom: 0;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  .title {
    font-size: 1.6rem;
  }
  .button {
    width: 100%;
    background-color: #bca27b !important;
    padding: 8px;
    border-radius: 12px;
    height: 48px;
    color: white !important;
  }
}

.modalContent {
  background-color: white;
  width: 360px;
  height: 380px;
  padding: 16px;
  position: absolute;
  bottom: 0;
  z-index: 1000000000;
  @media screen and (min-width: 768px) {
    border-radius: 12px;
    margin: auto;
    bottom: auto;
  }
}
.radio {
  accent-color: black;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
