.navContainer {
  border-bottom: 1px solid #0000001a;
  margin: 20px auto;
  @media screen and (min-width: 1266px) {
    width: 95%;
    margin: auto;
  }
  @media screen and (min-width: 1440px) {
    width: 90%;
    margin: 0px auto;
  }
}
.navHeader {
  display: flex;
  height: 64px;
  width: 100%;
  padding: 16px;
  align-items: center;
  justify-content: space-between;
}
.navLinkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #0000001a;
  padding: 16px;
  gap: 32px;
}
.navLink {
  cursor: pointer;
  font-size: 1.4rem;
}
