.BottomFilter {
  position: fixed;
  width: 100%;
  background-color: white;
  bottom: 80px;
  height: 48px;
  border-top: 1px solid #e6e6e6;
  z-index: 1;
    @media screen and (min-width: 1226px) {
    display: none;
    background-color: transparent;
    border: none;
  }
  .sortContainer {
    cursor: pointer;
    width: 129px;
    height: 32px;
      @media screen and (min-width: 1226px) {
    display: none;
    background-color: transparent;
    border: none;
  }
  }
  .filterContainer {
      @media screen and (min-width: 1226px) {
    display: none;
    background-color: transparent;
    border: none;
  }
    cursor: pointer;
    width: 160px;
    height: 32px;
    border-right: 1px solid #0000001a;
    border-radius: 0;
  }
}
